#-*-Makefile-*- vim:syntax=make

TARGET = intelmote2

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

ASSEMBLY_FILES += $(TINYOS_OS_DIR)/platforms/intelmote2/toscrt0.s $(TINYOS_OS_DIR)/chips/pxa27x/pxa27x_util.s
CFLAGS += -DPXA27X_13M -T$(TINYOS_OS_DIR)/platforms/intelmote2/tos.x

$(call TOSMake_include_platform,intelmote2)
$(call TOSMake_include_make_platform,pxa27x)

intelmote2: $(BUILD_DEPS)
	@:


