#-*-Makefile-*- vim:syntax=make

TARGET = mica2dot

PROGRAMMER ?= avrdude
ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -pm128  -U efuse:w:0xff:m
endif

AVR_FUSE_H ?= 0xd9

$(call TOSMake_include_platform,mica2dot)
$(call TOSMake_include_make_platform,avr)

mica2dot: $(BUILD_DEPS)
	@:

