TARGET = nxp_jn516_dr1199

PFLAGS += -I%T/platforms/nxp_jn516/dr1199

$(call TOSMake_include_platform,nxp_jn516)
$(call TOSMake_include_make_platform,jn516)

nxp_jn516_dr1199: $(BUILD_DEPS)
	@:
