#-*-Makefile-*- vim:syntax=make
TARGET = sam3u_ek
PLATFORM_DIR = $(TINYOS_ROOT_DIR)/tos/platforms/$(TARGET)

LINKERFILE_PREFIX?=sam3u-ek-flash
SAM-BA ?= /dev/ttyUSB0
START_ADDR ?= 0x80000
BOARD ?= at91sam3u4-ek

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

include $(PLATFORM_DIR)/Makefile.platform
$(call TOSMake_include_platform,sam3u_ek)
$(call TOSMake_include_make_platform,sam3)

sam3u_ek: $(BUILD_DEPS)
	@:
