#-*-Makefile-*- vim:syntax=make
#$Id: all.target,v 1.3 2006-11-07 19:30:39 scipio Exp $

PLATFORMS ?= mica mica2 mica2dot telos micaz pc

all: FORCE
	for target in $(filter-out $(INVALID_PLATFORMS),$(PLATFORMS)); do cmd="make $$target"; echo ".... $$cmd"; $$cmd; done

