#-*-Makefile-*- vim:syntax=make
#$Id: btnode3.target,v 1.4 2006-12-12 18:22:55 vlahan Exp $

PLATFORM ?= btnode3
SENSORBOARD ?= micasb
PROGRAMMER_PART ?= -dpart=ATmega128 --wr_fuse_e=ff
PFLAGS += -finline-limit=100000

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    PFLAGS += -I%T/lib/Deluge
    PFLAGS += -I%T/lib/Deluge/TOSBoot/include
    BOOTLOADER ?= $(TOSDIR)/lib/Deluge/TOSBoot/bl_mica2.srec
    AVR_FUSE_H ?= 0xd8
  endif
  ifeq ($(TINYOS_NP),XNP)
    BOOTLOADER ?= $(XNP_DIR)/inpispm2.srec
  endif
endif

AVR_FUSE_H ?= 0xd9

$(call TOSMake_include_platform,avr)

btnode3: $(BUILD_DEPS)
	@:

