#-*-Makefile-*- vim:syntax=make
#$Id: clean.target,v 1.7 2008-09-22 20:54:11 idgay Exp $

clean: FORCE
	rm -rf build $(CLEAN_EXTRA) pp
	rm -rf _TOSSIMmodule.so TOSSIM.pyc TOSSIM.py app.xml simbuild
	rm -rf VolumeMapC.nc
	rm -f $(COMPONENT).cmap $(COMPONENT).dot $(COMPONENT).html $(COMPONENT).png
