#-*-Makefile-*- vim:syntax=make
#$Id: clean.target,v 1.5 2008-05-05 21:20:08 idgay Exp $

clean: FORCE
	rm -rf build $(CLEAN_EXTRA) pp
	rm -rf _TOSSIMmodule.so TOSSIM.pyc TOSSIM.py
