#-*-Makefile-*- vim:syntax=make
#$Id: clean.target,v 1.3 2006-11-07 19:30:39 scipio Exp $

clean: FORCE
	rm -rf build $(CLEAN_EXTRA)
	rm -rf _TOSSIMmodule.so TOSSIM.pyc TOSSIM.py
