#-*-Makefile-*-
#$Id: epic.target,v 1.3 2009-09-14 22:57:45 sdhsdh Exp $

PLATFORM ?= epic

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
# OPTFLAGS += -O

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR ?= tos-storage-at45db

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

# Include the epic-specific targets
$(call TOSMake_include_platform,epic)
# Include the msp extra targets
$(call TOSMake_include_platform,msp)

epic: $(BUILD_DEPS)
	@:
