#-*-Makefile-*- vim:syntax=make
#$Id: eyesIFXv2.target,v 1.5 2008-03-11 09:34:13 klueska Exp $

PLATFORM = eyesIFXv2

MSP_MCU = msp430f1611

#Flash Config
VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR ?= tos-storage-at45db

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = bsl
endif

MSP_BSL_FLAGS ?= --invert-test --invert-reset --f1x
BSL?=/dev/ttyUSB1
ifeq (,$(findstring /dev/ttyUSB,$(BSL)))
  ifneq (,$(findstring USB,$(BSL)))
    BSL:=/dev/tty$(BSL)
  endif
endif

$(call TOSMake_include_platform,msp)

eyesIFXv2: $(BUILD_DEPS)
    @:
