#-*-Makefile-*- vim:syntax=make
#$Id: eyesIFXv1.target,v 1.5 2008-03-11 09:34:13 klueska Exp $

PLATFORM = eyesIFXv1

MSP_MCU = msp430f149

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = jtag
endif

VOLUME_FILE = volumes-stm25p.xml
VOLUME_ALLOCATOR ?= tos-storage-stm25p

$(call TOSMake_include_platform,msp)

eyesIFXv1: $(BUILD_DEPS)
    @:
