#-*-Makefile-*- vim:syntax=make
#$Id: eyesIFXv2.target,v 1.4 2006-12-12 18:22:55 vlahan Exp $

PLATFORM = eyesIFXv2

MSP_MCU = msp430x1611

#Flash Config
VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR = tos-storage-at45db

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = bsl
endif

MSP_BSL_FLAGS ?= --invert-test --invert-reset --f1x
BSL?=/dev/ttyUSB1
ifeq (,$(findstring /dev/ttyUSB,$(BSL)))
  ifneq (,$(findstring USB,$(BSL)))
    BSL:=/dev/tty$(BSL)
  endif
endif

NESC_FLAGS:=-Wnesc-all -mdisable-hwmul

VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR = tos-storage-at45db

$(call TOSMake_include_platform,msp)

eyesIFXv2: $(BUILD_DEPS)
    @:
