EYES_IFX_VER ?= v2

ifeq ($(EYES_IFX_VER),v2)
  EYES_IFX_TARGET = eyesIFXv2.target
else
  EYES_IFX_TARGET = eyesIFXv1.target
endif

$(call TOSMake_include,$(EYES_IFX_TARGET))

eyesIFX: $(BUILD_DEPS)
    @:
