#-*-Makefile-*- vim:syntax=make
#$Id: eyesIFXv1.target,v 1.3 2006-11-07 19:30:39 scipio Exp $

PLATFORM = eyesIFXv1

MSP_MCU = msp430x149

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = jtag
endif

VOLUME_FILE = volumes-stm25p.xml
VOLUME_ALLOCATOR = tos-storage-stm25p

NESC_FLAGS:=-Wnesc-all

$(call TOSMake_include_platform,msp)

eyesIFXv1: $(BUILD_DEPS)
    @:
