#-*-Makefile-*- vim:syntax=make

PLATFORM = intelmote2

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

VOLUME_FILE = volumes-pxa27xp30.xml
VOLUME_ALLOCATOR ?= tos-storage-pxa27xp30

#ASSEMBLY_FILES += $(PLATFORM_DIR)/../imote2/flash.s $(PLATFORM_DIR)/../imote2/binarymover.s
ASSEMBLY_FILES += $(TOSDIR)/platforms/intelmote2/toscrt0.s $(TOSDIR)/chips/pxa27x/pxa27x_util.s
CFLAGS += -DPXA27X_13M -T$(TOSDIR)/platforms/intelmote2/tos.x 

$(call TOSMake_include_platform,pxa27x)

intelmote2: $(BUILD_DEPS)
	@:


