#-*-Makefile-*- vim:syntax=make
#$Id: iris.target,v 1.5 2009-03-10 15:09:55 sallai Exp $

PLATFORM = iris
SENSORBOARD ?= micasb
PROGRAMMER ?= avrdude

ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -pm1281 -U efuse:w:0xff:m
endif

ifeq ($(PROGRAMMER),uisp)
  PROGRAMMER_PART ?= -dpart=ATmega1281 --wr_fuse_e=ff
endif

AVR_FUSE_H ?= 0xd9
AVR_FUSE_L ?= 0xff

ifdef RF230_CHANNEL
PFLAGS += -DRF230_DEF_CHANNEL=$(RF230_CHANNEL)
endif

$(call TOSMake_include_platform,avr)

iris: $(BUILD_DEPS)
	@: