#-*-Makefile-*- vim:syntax=make
#$Id: iris.target,v 1.2 2007-11-06 21:39:43 sallai Exp $

PLATFORM = iris
SENSORBOARD ?= micasb
PROGRAMMER ?= avrdude

AVRGCC_SUPPORTS_ATM1281 = $(shell avr-gcc --target-help 2>&1 | grep -c atmega12811)
ifneq ($(AVRGCC_SUPPORTS_ATM1281),1)
  $(error Found avr-gcc with no ATMega1281 support. For details on upgrading your toolchain, please see "http://www.isis.vanderbilt.edu/projects/NEST/tinyos-2.x-iris/doc/html/install-tinyos-iris.html")
endif

ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -pm1281 -U efuse:w:0xff:m
endif

ifeq ($(PROGRAMMER),uisp)
  PROGRAMMER_PART ?= -dpart=ATmega1281 --wr_fuse_e=ff
endif

AVR_FUSE_H ?= 0xd9
AVR_FUSE_L ?= 0xff
$(call TOSMake_include_platform,avr)

iris: $(BUILD_DEPS)
	@: