#-*-Makefile-*- vim:syntax=make
#$Id: micaz.target,v 1.6 2008-07-09 15:36:50 sallai Exp $

PLATFORM = micaz
SENSORBOARD ?= micasb
PROGRAMMER ?= uisp
ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -pm128  -U efuse:w:0xff:m
endif

ifeq ($(PROGRAMMER),uisp)
  PROGRAMMER_PART ?= -dpart=ATmega128  --wr_fuse_e=ff
endif

AVR_FUSE_H ?= 0xd9

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,avr)

micaz: $(BUILD_DEPS)
	@:

