#-*-Makefile-*- vim:syntax=make
#$Id: mica2.target,v 1.4 2006-12-12 18:22:55 vlahan Exp $

PLATFORM = mica2
SENSORBOARD ?= micasb
PROGRAMMER_PART ?= -dpart=ATmega128 --wr_fuse_e=ff
PFLAGS += -finline-limit=100000

AVR_FUSE_H ?= 0xd9

$(call TOSMake_include_platform,avr)

mica2: $(BUILD_DEPS)
	@:

