#-*-Makefile-*- vim:syntax=make
#$Id: null.target,v 1.3 2006-11-07 19:30:40 scipio Exp $

PLATFORM = null
PFLAGS += -finline-limit=100000

$(call TOSMake_include_platform,null)

null: $(BUILD_DEPS)
	@:

