#-*-Makefile-*- vim:syntax=make
#$Id: telosa.target,v 1.4 2006-12-12 18:22:55 vlahan Exp $

PLATFORM ?= telosa

MSP_MCU = msp430x149

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

MSP_BSL ?= tos-bsl

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,msp)

telos: $(BUILD_DEPS)
	@:

telosa: $(BUILD_DEPS)
	@:

