#-*-Makefile-*- vim:syntax=make

TARGET = telosb

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,telosb)
$(call TOSMake_include_make_platform,msp)

telos: $(BUILD_DEPS)
	@:

telosb: $(BUILD_DEPS)
	@:
