#-*-Makefile-*- vim:syntax=make
#$Id: telos.target,v 1.4 2006-12-12 18:22:55 vlahan Exp $

TELOS_REV ?= A

ifeq ($(TELOS_REV),A)
  TELOS_TARGET = telosa.target
else
  TELOS_TARGET = telosb.target
endif

$(call TOSMake_include,$(TELOS_TARGET))

