#-*-Makefile-*- vim:syntax=make
#$Id: telos.target,v 1.3 2006-11-07 19:30:40 scipio Exp $

TELOS_REV ?= A

ifeq ($(TELOS_REV),A)
  TELOS_TARGET = telosa.target
else
  TELOS_TARGET = telosb.target
endif

$(call TOSMake_include,$(TELOS_TARGET))

