#-*-Makefile-*- 
#$Id: tinynode.target,v 1.3 2006-11-07 19:30:40 scipio Exp $

PLATFORM = tinynode

ifndef TOSDIR
TOSDIR := $(shell ncc -print-tosdir)
endif

MSP_BSL ?= tos-bsl

#Flash Config
VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR = tos-storage-at45db

OPTFLAGS += -Os
#OPTFLAGS = 

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
PFLAGS += -mstrict-align

$(call TOSMake_include_platform,tinynode)
$(call TOSMake_include_platform,msp)

tinynode: $(BUILD_DEPS)
	@:

