#-*-Makefile-*- vim:syntax=make
#$Id: tmote.target,v 1.3 2006-11-07 19:30:40 scipio Exp $

TMOTE_REV ?= SKY

# tmote sky == telosb
ifeq ($(TMOTE_REV),SKY)
  TMOTE_TARGET = telosb.target
endif

# if tmote rev is unknown, use telosb
TMOTE_TARGET ?= telosb.target

$(call TOSMake_include,$(TMOTE_TARGET))

tmote: $(BUILD_DEPS)
	@: