# Bootstrap
Makefile.in
aclocal.m4
autom4te.cache
config-aux
configure

# Configure
Makefile
config.log
config.status
platforms/intelmote2/openocd/imote2-ocd-program.py
platforms/mica/cc1000-channelgen/.deps/
platforms/msp430/motelist/motelist-linux
platforms/msp430/motelist/motelist-macos
platforms/msp430/pybsl/elf.py
platforms/msp430/pybsl/serial/__init__.py
platforms/msp430/pybsl/serial/serialposix.py
platforms/msp430/pybsl/tos-bsl
platforms/msp430/pybsl/tos-bsl.1
platforms/sam3/samba-program.py
tinyos/java/env/.deps/
tinyos/java/serial/.deps/
tinyos/misc/.deps/
tinyos/misc/tos-build-deluge-image
tinyos/misc/tos-check-env
tinyos/misc/tos-deluge
tinyos/misc/tos-dump.py
tinyos/misc/tos-ident-flags
tinyos/misc/tos-install-jni
tinyos/misc/tos-mote-key
tinyos/misc/tos-nwprog
tinyos/misc/tos-set-symbols
tinyos/misc/tos-storage-at45db
tinyos/misc/tos-storage-pxa27xp30
tinyos/misc/tos-storage-stm25p
tinyos/misc/tos-write-buildinfo
tinyos/misc/tos-write-image
tinyos/ncc/mig
tinyos/ncc/ncc
tinyos/ncc/ncg
tinyos/ncc/nesdoc
tinyos/safe/tos-decode-flid
tinyos/safe/tos-ramsize
tinyos/tosthreads/tosthreads_standard_api.py

# Make
*.so
platforms/mica/cc1000-channelgen/tos-channelgen
platforms/msp430/motelist/motelist
tinyos/misc/tos-serial-debug
tinyos/tosthreads/tosthreads-dynamic-app

# Cygwin
platforms/mica/cc1000-channelgen/tos-channelgen.exe
platforms/msp430/motelist/motelist.exe
tinyos/java/env/getenv-32.dll
tinyos/java/env/getenv-64.dll
tinyos/java/serial/toscomm-32.dll
tinyos/java/serial/toscomm-64.dll
tinyos/misc/tos-serial-debug.exe

#cppbsl
platforms/msp430/cppbsl/src/.deps/
platforms/msp430/cppbsl/stamp-h1
platforms/msp430/cppbsl/src/cppbsl

